body {
    margin: 0;
    font-family: 'Proxima Nova Soft','Helvetica Neue',sans-serif;
    text-align: center;
    background-color: #bcccdc;
}
#main-container {
    display: inline-grid;
}
#header-container {
    padding: 10px;
    overflow: hidden;
    background-color: #323647;
    box-shadow: 0 0 10px 10px #777;
}
#header-logo {
    float: left;
    margin-left: 10px;
    color: #627181;
    font-size: 50px;
    text-decoration: none;
}
#header-title {
    color: #627181;
    font-size: 30px;
    text-decoration: none;
}
#header-title-frame {
    float: left;
    padding: 15px 10px 5px 10px;
}
#header-signin-link,
#header-signup-link{
    color: #627181;
    font-size: 20px;
    text-decoration: none;
}
#header-link-frame {
    float: right;
    padding: 20px 10px 0 10px;
}
#footer-container {
    padding: 20px;
    overflow: hidden;
    width: 100%;
    background-color: #323647;
    position: fixed;
    bottom: 0;
}
#footer-text {
    float: left;
    color: #627181;
    font-size: 16px;
}
#board-container {
    display: inline-grid;
    margin-top: 30px;
    box-shadow: 0 10px 6px -6px #777;
}
#ctrls-container,
#win-container,
#welcome-container {
    margin-top: 30px;
    box-shadow: 0 10px 6px -6px #777;
}
.btn-group {
    display: inline-flex;
}
.board-btn,
.ctrl-btn {
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    width: 50px;
    height: 50px;
    color: #323647;
    background-color: #627181;
    border-color: #323647;
    outline: none;
}
.board-btn.active,
.board-btn.highlight,
.ctrl-btn:active {
    outline: none;
    box-shadow: inset 0 0 5px 1px #51CBEE;
    /*border: 1px solid #51CBEE;*/
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-0.row-0 {
    border-radius: 5px 0 0 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-8.row-0 {
    border-radius: 0 5px 0 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-8.row-8 {
    border-radius: 0 0 5px 0;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-0.row-8 {
    border-radius: 0 0 0 5px;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-2,
.col-5 {
    border-right: solid;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.col-3,
.col-6 {
    border-left: solid;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.row-2,
.row-5 {
    border-bottom: solid;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.row-3,
.row-6 {
    border-top: solid;
}

/*noinspection CssUnusedSymbol*/
.ctrl-btn-0 {
    border-radius: 5px 0 0 5px;
}

/*noinspection CssUnusedSymbol*/
.ctrl-btn-8 {
    border-radius: 0 5px 5px 0;
}