#header-logo {
    height: 30px;
    width: 30px;
}
#welcome-container,
#win-container,
#board-container,
#controls-container {
    background-color: #9fcdff;
    text-align: center;
}
.board-btn-row {
    text-align: center;
}